/* Whole Doc Styles*/

html
    {
        background-color:lightgrey;
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-rows: 15vh 10vh 75vh;
    }

/* Header Styles*/

header
    {
        display: grid;
        font-size: 5vh;
        height: 15vh;
        grid-template-columns: 80vw 20vw;
        padding: 0px;
    }



/* Nav Styles */

nav
    {
        background-color: darkgrey;
    }

h3
    {
        font-weight: bold;
    }

/* Blog Post Styles */

.blogposts p

    {
        text-indent: 20px;
    }

h3 

    {
        float: center;
    }
